.env
.env.backup
.env.backup.*

.idea
.vscode
.eclipse

.cache

.venv
__pycache__

.swc
*/.swc
**/.swc/**

.npmrc

artifacts
artifacts/*
artifacts/**

node_modules
node_modules/*
node_modules/**

distribution
distribution/*
distribution/**

declarations
declarations/*
declarations/**

.terraform/*

*.tfstate
*.tfstate.*

cdktf.out
cdktf.out/*
cdktf.out/**

*.js
**/*.js
**/*.map
**/*.d.ts

.DS_Store

*.tgz
*.zip

coverage

*.tsbuildinfo
tsconfig.tsbuildinfo
**/tsconfig.tsbuildinfo

*.log

openapitools.json

*.pem
**/*.pem
